@let myVar = '27' | ep-transloco;
<span>{{ '1' | ep-transloco }}</span>
<span transloco="2"></span>
<ng-container *transloco="let t">
  <span>{{ t('3') }}</span>
</ng-container>
<ng-template transloco let-t>
  <span>{{ t('4') }}</span>
</ng-template>


@if (a > b) {
  <span>{{ '5' | ep-transloco }}</span>
  <span transloco="6">
  </span>
  <ng-container *transloco="let t">
    <span>{{ t('7') }}</span>
  </ng-container>
  <ng-template transloco let-t>
    <span>{{ t('8') }}</span>
  </ng-template>
} @else if (b > a) {
  <span>{{ '9' | ep-transloco }}</span>
} @else {
  <span [innerHtml]="'10' | ep-transloco"></span>
}

@for (item of items; track item.id) {
  {{ '11' | ep-transloco }}
} @empty {
  <span>{{ '12' | ep-transloco }}</span>
}

@switch (condition) {
  @case (caseA) {
    <span>{{ '13' | ep-transloco }}</span>
  }
  @default {
    <span>{{ '14' | ep-transloco }}</span>
  }
}

@defer {
  <span>{{ '15' | ep-transloco }}</span>
} @error {
  <span>{{ '16' | ep-transloco }}</span>
} @placeholder {
  <span>{{ '17' | ep-transloco }}</span>
} @loading {
  <span>{{ '18' | ep-transloco }}</span>
}

<ng-container *transloco="let t">
@if (a > b) {
  <span>{{ t('19') }}</span>
} @else if (b > a) {
  <span [innerHtml]="t('20')"></span>
} @else {
  @for (item of items; track item.id) {
    <span>{{ t('21') }}</span>
  } @empty {
    @switch (condition) {
      @case (caseA) {
        <span>{{ t('22') }}</span>
      }
      @default {
        @defer {
          <span>{{ '23' | ep-transloco }}</span>
        } @error {
          <span transloco="24"></span>
        } @placeholder {
          <span>{{ t('25') }}</span>
        } @loading {
          <span>{{ t('26') }}</span>
        }
      }
    }
  }
}
</ng-container>
